body {
	margin: 0px;
	font-family: Arial;
}
.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	border-bottom: 2px solid black;
	background-color: #5b8c6e;
}
.logo {
	height: 25px;
}
.element {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 5px;
}
a{
	text-decoration: none;
	color: #000;

}
.perfil{
	height: 25px;
	float: right;

}
.PrimeraReceta{
	margin: 0px;
	width: 100%;
}
.textoPrimeraReceta {
	position: relative;
	left: 50px;
	bottom: 300px;
	height: 0px;
}
h1 { 
	font-size: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: white;
	border-radius: 5px;
	width: fit-content;
	padding-left: 5px;
	padding-right: 5px;
}
h2 {
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: white;
	border-radius: 5px;
	width: fit-content;
	padding-left: 5px;
	padding-right: 5px;
}
h3 {
	font-size: 30px;
	margin-left: 50px;

}
h4 {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: white;
	border-radius: 5px;
	width: fit-content;
}
h5 {
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 5px;

}
h6 {
	font-size: 12px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.boton {
	height: 40px;
	width: 100px;
	margin: 0px;
	border: 3px solid orange;
	background-color: white;
	border-radius: 45px;

}
.defaultImg {
	width: 100%;
	margin: 0px;
}
.Categories{
	display: flex;
	flex-direction: row;
	padding-left: 50px;
	border-bottom: 3px solid black;
}
.Latest {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.recipe {
	padding-left: 2%;
	padding-right: 2%;
	width: 400px;
}
.RecipeImg {
	margin: 0px;
}
.zonaMail {
	display: flex;
	flex-direction: row;
	margin: 50px;
	padding: 30px;
	justify-content: center;
	border: 2px solid black;
	border-radius: 45px;
	background-color: lightblue;
}
.TextMail {
	padding-left: 0px;
	padding-right: 100px;
}
.inputMail {
	display: flex;
	flex-direction: row;
}
.mail {
	margin-top: 40px;
	height: 30px;
	width: 300px;
	border: 3px solid black;
	border-radius: 30px;
	margin-right: 0px;
	position: relative;
	background-color: inherit;
	font-color: white;
}
.boton2 {
	height: 38px;
	width: 150px;
	margin: 0px;
	float: right;
	position: relative;
	top: 40px;
	right: 100px;
	background-color: beige;
	border: 3px solid beige;
	border-radius: 45px;
}
.seccioReceptes {
	display: flex;
	flex-direction: row;
	margin: 30px;
}
.textRecipe{
	margin: 0px;
	position: relative;
	bottom: 70px;
	left: 10px;
	z-index: 13;
}
.author {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 300px;
	background-color: gray;
}
.authorInfo {
	margin: 30px;
}
.authorImg {
	height: 175px;
	margin-top: 30px;
}
.footer {
	display: flex;
	flex-direction: row;
	width: 100%;
	border-bottom: 2px solid black;
	background-color: #5b8c6e;
}
