
.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	border-bottom: 2px solid black;
	background-color: #5b8c6e;
	position: fixed;
	top: 0px;
	left: 0px;
}
.logo {
	height: 25px;
}
.element {
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 5px;
}
a{
	color: #000;
	text-decoration: none;
}
.perfil{
	height: 25px;
	position: fixed;
	right: 20px;
}
.PrimeraReceta{

}