.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 5%;
	border-bottom: 2px solid black;
	background-color: #5b8c6e;
	position: fixed;
	top: 0px;
	left: 0px;
}
.logo {
	width: 40%;
}
.element {
	margin-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	font-color: #8c5b79;

}
href {
	color: green;
}